BODY {
MARGIN: 0px; 
PADDING: 0px;
BACKGROUND: white;
COLOR: black;
} 

A:link {background: none; color: blue; text-decoration: none; cursor: pointer;}
A:visited {background: none; color: brown; text-decoration: none; cursor: pointer;}
A:hover {background: none; color: #ff0000; text-decoration: none; cursor: pointer;}
A:active { background: none; color: #ff0000; background: none; cursor: pointer;}

.Global {
WIDTH: 100%;
HEIGHT: 100%;
}

.Global TD {
BORDER: 0px double black;
VERTICAL-ALIGN: top;
}

.Header {
WIDTH: 100%;
HEIGHT: 100px;
PADDING: 10px; 
}

.Header TD {
BORDER: 0px;
VERTICAL-ALIGN: top;
TEXT-ALIGN: left;
}

.NavBar {
WIDTH: 100%;
HEIGHT: 27px;
}

.NavBar TD {
BACKGROUND: url("greenline-gradient.gif") repeat;
COLOR: maroon;
FONT: normal 16px verdana,sans-serif;
PADDING: 0px 0px 0px 30px;
TEXT-ALIGN: left;
BORDER: 0px;
VERTICAL-ALIGN: middle;
}

.NavBarMenu TD {
BACKGROUND: none;
COLOR: maroon;
FONT: bold 16px verdana,sans-serif;
PADDING: 0px 20px 0px 0px;
BORDER: 0px;
VERTICAL-ALIGN: middle;
}

.Left {

COLOR: inherit;
}

.Content {
BORDER: 1px double black
COLOR: inherit;
FONT: 100px verdana,sans-serif;
TEXT-ALIGN: center;
}

.Matter {
COLOR: inherit;
FONT: 30px verdana,sans-serif;
TEXT-ALIGN: center;
}


.Right {

COLOR: inherit;
FONT: bold 20px verdana,sans-serif;
}

.BoxStyle {
WIDTH: 90%;
MARGIN-TOP: 15px;
}

.BoxStyle TD {
COLOR: inherit;
PADDING: 0px 0px 0px 0px;
TEXT-ALIGN: center;
BORDER: 5px;
}

.HeadingStyle {
COLOR: #ffffff;
FONT: bold 40px Verdana,sans-serif;
TEXT-ALIGN: center;
}

P {
FONT: 13px arial,sans-serif;
}

.Padded {
PADDING: 20px;
}

.SmallFont {
FONT: 13px Verdana,sans-serif;
}

.MedFontBold {
FONT: bold 15px Verdana,sans-serif;
}

.SmallFont TD {
FONT: 13px Verdana,sans-serif;
}

.MedFontBold TD {
FONT: bold 15px Verdana,sans-serif;
}

.Footer {
BACKGROUND: url('footer.gif') repeat-y #000000;
COLOR: #ffffff;
FONT: 13px Verdana,sans-serif;
HEIGHT: 25px;
TEXT-ALIGN: center;
}

.button {

background-repeat: no-repeat;
height: 30px;
width: 200px;
text-align: center;
FONT: 20px Times New Roman,verdana,sans-serif;
}
 
.button a{

background-repeat: no-repeat;
height: 30px;
width: 200px;
display: block;
text-align: center;
FONT: 20px Times New Roman,verdana,sans-serif;
}
 
.button a:hover{
background: none;
}
.middle {
position: relative;
top:100px;
COLOR: inherit;
FONT: bold 20px verdana,sans-serif;
BORDER: 0px;
}
.ldr  TD{
BORDER: 0px;
VERTICAL-ALIGN: top;
text-align: center;
FONT: 22px Times New Roman,verdana,sans-serif;
PADDING: 0 20px 0 20px;
}